@model Expense_Tracker.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId==0 ? "Create new transaction " : "Edit Transaction";
}


<hr />
<div class="row">
    <div class="col-md-7">
        <div class="widget p-7" style="background-color:#212b36">
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TransactionId" value="@Model.TransactionId" />
                <div class="mb-3">
                    <ejs-datepicker id="date" ejs-for="Date" placeholder="Date" floatLabelType="Always" format="MMM-dd-yy"></ejs-datepicker>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            <div class="mb-3">
                    <ejs-dropdownlist id="ddlCategory" ejs-for="CategoryId" 
                    dataSource="@ViewBag.Categories" placeholder="Category" floatLabelType="Always" allowFiltering="true" ignoreAccent="true">
                        <e-dropdownlist-fields value="CategoryId" text="TitlewithIcon"></e-dropdownlist-fields>
                   </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
            </div>
            <div class="mb-3">
                    <ejs-numerictextbox id="amount" ejs-for="Amount" value="10" placeholder="Amount" 
                    floatLabelType="Always" Type="text" min=0 format="c0">
                    </ejs-numerictextbox>
                <span asp-validation-for="Amount" class="text-danger fs-6"></span>
            </div>
            <div class="mb-3">
                    <ejs-textbox id="Note" placeholder="Note" ejs-for="Note" floatLabelType="Always" multiline="true"></ejs-textbox>
               
            </div>
                <div class="mb-3">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
        </form>
        </div>
    </div>
    <div class="col md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
